<body>
    <div class="wrapper">
        <h2>CONTACT US</h2>
        
        <form>
        <div class="input_field">
        <input type="text" placeholder="Name" >
        </div>
        <div class="input_field">
        <input type="text" placeholder="Subject">
        </div>
        <div class="input_field">
        <input type="text" placeholder="Phone" >
        </div>
        <div class="input_field">
        <input type="text" placeholder="Email" >
        </div>
        <div class="input_field">
        <textarea  placeholder="Message"></textarea>
        </div>
        <div class="btn">
        <input type="submit">
        </div>
        </form>
        </div>
    </body>